<h1 class="d-flex justify-content-center p-4">Welcome To Smart Installments</h1>
<div class="container">
  <h2 class="d-flex justify-content-center">Dashboard</h2>
  <h4>Members List</h4>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.full_name %></td>
          <td><%= member.email %></td>
          <td class="d-flex">
            <%= link_to 'New', new_member_path, class: 'btn btn-secondary me-2' %>
            <%= link_to 'View', member_path(member), class: 'btn btn-secondary me-2' %>
            <%= link_to 'Edit', edit_member_path(member), class: 'btn btn-secondary me-2' %>
            <%= button_to 'Delete', member_path(member), class: 'btn btn-secondary', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h4 class="py-4">Manage Categories</h4>
  <%= link_to 'New', new_category_path, class: 'btn btn-secondary me-2' %>
  <% if @categories.present? %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td class="d-flex">
              <%= link_to 'View', category_path(category), class: 'btn btn-secondary me-2' %>
              <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-secondary me-2' %>
              <%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary me-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to "Installments plan", installment_plans_path, class: 'btn btn-primary' %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
</div>
