<%= form_with(model: installment_plan) do |form| %>
  <% if installment_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(installment_plan.errors.count, "error") %> prohibited this installment_plan from being saved:</h2>

      <ul>
        <% installment_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :booking_amount, "Booking Amount" %>
  <%= form.number_field :booking_amount, min: 0, step: 'any' %>
  <br />
  <br />

  <%= form.label :allocation_amount, "Allocation Amount" %>
  <%= form.number_field :allocation_amount, min: 0, step: 'any' %>
  <br />
  <br />

  <%= form.label :bianual_payment, "Biannual Payment" %>
  <%= form.number_field :bianual_payment, min: 0, step: 'any' %>
  <br />
  <br />

  <%= form.label :quaterly_payment, "Quaterly Payment" %>
  <%= form.number_field :quaterly_payment, min: 0, step: 'any' %>
  <br />
  <br />

  <%= form.label :monthly_payment, "Monthly Payment" %>
  <%= form.number_field :monthly_payment, min: 0, step: 'any' %>
  <br />
  <br />

  <%= form.label :duration, "Duration in years" %>
  <%= form.number_field :duration, min: 0.25, max: 10, step: 0.25 %>
  <br />
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
