<h5>Installment Plan:<%= @installment_plan.sequence_num %></h5>

<p>Category: <%= @installment_plan.category.name %></p>
<p>Total Price: <%= @installment_plan.total_price %></p>
<p>Booking Amount: <%= @installment_plan.booking_amount %></p>

<% if @installment_plan.allocation_amount.present? %>
  <p>Allocation Amount: <%= @installment_plan.allocation_amount %></p>
<% end %>

<% if @installment_plan.biannual_payment.present? %>
  <p>Biannual Payment(<%= @installment_plan.no_of_biannual_or_quarterly_payments %>): <%= @installment_plan.biannual_payment %></p>
<% end %>

<% if @installment_plan.quarterly_payment.present? %>
  <p>Quarterly Payment(<%= @installment_plan.no_of_biannual_or_quarterly_payments %>): <%= @installment_plan.quarterly_payment %></p>
<% end %>

<p>Monthly Payment(<%= @installment_plan.no_of_monthly_payments %>): <%= @installment_plan.monthly_payment %></p>

<%= link_to 'Edit', edit_installment_plan_path(@installment_plan) %>
