<h1>Edit Member</h1>
<%= form_for @member, url: member_path(@member), method: :patch do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.submit "Update User" %>
<% end %>
