<div class="container">
  <h1 class="d-flex justify-content-center p-4">Smart Installments</h1>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <div class="row">
        <h2 class="d-flex justify-content-center">Sign up</h2>
        <div class="primary-form-spacing">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: 'Enter Password' %>
            </div>

            <div class="form-group">
              <%= f.label :full_name %>
              <%= f.text_field :full_name, required: true, maxlength: 25, placeholder: 'Enter Full Name', id: "user-name", class: "form-control" %>
            </div>

            <%= f.fields_for :company, resource.build_company do |company_builder| %>
              <div class="form-group">
                <%= company_builder.label :phone_number %>
                <%= company_builder.telephone_field :phone_number, required: true, placeholder: 'Enter Phone Number', id: "phone", maxlength: 18, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= company_builder.label :name %>
                <%= company_builder.text_field :name, required: true, maxlength: 30, size: 0, placeholder: 'Enter Company Name', class: "form-control" %>
              </div>
            <% end %>

            <div class="form-group d-flex p-3 ps-0">
              <%= f.submit "Sign up", class: 'btn btn-primary me-3' %>
              <%= render "users/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
